.search-bar {
  display: flex;
  align-items: flex-start;
  position: relative;
  flex: 1;
  max-width: 600px;
  background: #ffffff;

  &__input-wrap {
    position: relative;
    flex: 1;
  }

  &__input {
    width: 100%;
    padding: 10px 14px;
    font-size: 1rem;
    border: 2px solid #444;
    border-radius: 8px 0px 0px 8px;
    outline: none;
    box-sizing: border-box;
    background: #ffffff;
    color: #000000;
    transition: border-color 0.2s;

    &::placeholder {
      color: #000000;
    }

    &:focus {
      border-color: #e6235c;
    }
  }

  &__btn {
    padding: 10px 22px;
    font-size: 1rem;
    font-weight: 600;
    background: #e6235c;
    color: #fff;
    border: none;
    border-radius: 0px 8px 8px 0px;
    cursor: pointer;
    white-space: nowrap;
    transition: background 0.2s;

    &:hover {
      background: #c71d4f;
    }
  }
}
